@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
}

/* Utilities */
.container {
    max-width: 1280px;
    margin: auto;
    padding: 0px 3%;   
}

li {
    list-style: none;
}

.header {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)
    ), url("netflix.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .header {
        height: 75vh;
   }
}

@media screen and (max-width: 375px) {
    .header {
        height: 100vh;
    }
}

@media screen and  (max-width: 414px) {
    .header {
        height: 65vh;
        overflow-y: hidden;

    }
}  

@media screen and (min-width: 375px) and (max-width: 414px) {
    main {
width: 100%;        
overflow-y: hidden;
    }
}  

.logo svg {
    fill: #e50914;
    height: 40px;
}


@media screen and (max-width: 600px) {
    .logo svg {
        height: 24px;
    }
}

@media screen and (max-width: 800px) {
    .logo svg {
        height: 24px;
        margin: 0 0.25em; 
   }
}

.select-box a {
    
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    background-color: #e50914;
    padding: 8px 18px;
    border-radius: 0.2em;
    border: none; 
}

@media screen and (max-width: 800px) {
    .select-box {
        height: 10px;
        padding: 6px 16px;
        margin-bottom: 3.85%;
    }
}

@media screen and (max-width: 414px) {
    .select-box a{
        right: 1em;
        position: relative;
    }
}


@media screen and (max-width: 800px) {
    .select-box {
        height: 10px;
        padding: 6px 16px;
        margin-bottom: 3.85%;
    }
}


@media screen and (max-width: 600px) {
    .select-box {
        height: 10px;
        padding: 6px 16px;
        margin-bottom: 3.85%;
    }
}

@media screen and (max-width: 300px) {
    .select-box a {
        height: 10px;
        padding: 12px 16px;
        margin-bottom: 3.85%;
        width: 30%;
    }
}


@media screen and (max-width: 300px) {
    .logo {
        width: 30%;
        padding-left: 4em;
    }
}

@media screen and (max-width: 1400px) {
    .select-box {
        height: 10px;
        padding: 6px 16px;
        margin-bottom: 3.85%;
    }
}

.select-box a:hover {

    background-color: #b80f17;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
/* header content */
.header-content {
    margin: 0;
    text-align: center;
    padding: 15% 0 0 0;
    height: 65vh;
    display: grid;
    place-content: center;
}

@media screen and (max-width: 414px) {
    .header-content {
        padding: 0 15%;
    }
}

@media screen and (max-width: 375px) {
    .header-content {
        padding: 8% 20% 0 20%;
        font-size: 18px;
    }
}


.form-field {
    text-align: center;

}

@media screen and (max-width: 600px) {
    .form-field {
        padding: 0 25px;
    }
    
}

h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 16px;
    padding: 0 10% 0 10% ;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

p {
    padding: 0 10% 0 10% ;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 32px;
    }
    h2, h3 {
        font-size: 18px;
    }
}

.form {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .form {
       flex-direction: column;
}
}

.form-group {
     width: 55%;
     height: 60px;
     position: relative;
}


@media screen and (max-width: 600px) {
    .form-group {
        width: 100%;
    }
}

.form-input {
    width: 96%;
    height: 100%;
    font-size: 15px;
    color: #222;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px 24px;   
}



.form-label {
    position: relative;
    top: 0;
    left: 0;
    font-size: 15px;
    color: #222;
    width: 96%;
    transition: all 0.2s ease-in-out 
}
.form-input:focus + .form-label {
    top: -12px;
    left: 0;
    color: #222;
    font-size: 12px;
    z-index: 10;
}
.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    top: -15px;
    left: 0;
    font-size: 12px;
    z-index: 10;
}

.get-btn {
    background-color: #e50914;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #e50914;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
    left: 0;
    position: relative;
}


    @media screen and (max-width: 600px) {
        .get-btn {
            align-self: center;
            font-size: 16px;
            padding: 10px 15px;
        }
    }

    @media screen and (max-width: 375px) {
        .get-btn {
            align-self: center;
            font-size: 14px;
            padding: 5px 10px;
            
        }
    }

    @media screen and (max-width: 414px) {
        .get-btn {
            align-self: center;
            font-size: 14px;
            padding: 5px 10px;
            top: 1.5em;
            
        }
    }

    .get-btn:hover {
        background-color: #b80f17;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    }

    @media screen and (max-width: 800px) {
        .header-content {
       padding-bottom: 8em;
}
      }
      
    @media screen and (max-width: 800px) {
        .header-content h1 {
       padding: 0;
       margin: 0;
       font-size: 2em;
}
      }

      @media screen and (max-width: 800px) {
        .header-content h2 {
       padding-top: 3%;
       padding-bottom: 3%;
       margin: 0;
       font-size: 1.125em;
}
      }

      @media screen and (max-width: 800px) {
        .header-content h3 {
       padding-bottom: 2.5%;
       margin: 0;
       font-size: 1.3em;
}
      }

      @media screen and (max-width: 414px) {
        .header-content label {
width: 70%;
left: 1.6em;
}
      }

      section {
        padding: 80px 0 0 0;
        border-top: 8px solid #222;
        align-items: center;         
    }

    .container2 {
        margin: 0;
        height: 68vh;
        padding: 0 5%;
        position: relative;

     }
    
     @media screen and (max-width: 414px) {
        section .container2 {
            position: relative;
            height: 40vh;
        }  
    }

    .section-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    @media screen and (max-width: 960px) {
        .section-wrap {
            flex-direction: column;
            text-align: center;
        }
    }

    .container3 .section-text {
        flex-basis: 50%;
        padding: 0 0 0 5em;

    }

    @media screen and (max-width: 800px) {
       .container3 .section-text1 {
       padding: 0;
       width: 70%;
    right: 7em;       
}
    }

    @media screen and (max-width: 800px) {
        .section-text1.ptag{
        padding: 0;
        width: 100%;
     font-size: 0.6rem; 
position: absolute; 
}
     }
    
@media screen and (max-width: 414px) {
    .container3 .section-text1 {
        padding: 0 2em;
    }
    
}

      

      @media screen and (max-width: 375px) {
       .container3 .section-text1 {
            padding: 0 2em;
        }
        
    }
    
          
    

    .section-text1 p {
        font-size: 1.125em;
    }

 

    .section-media {
        flex-basis: 50%;
        position: relative;

    }
    
    @media screen and (max-width: 414px) {
        .section-media {
            padding: 0 3em;
            position: relative;
            margin: 0;
            top: 3em;
        }
        
    }

    .section-media img {
        width: 100%;
        padding: 0 5%;
    }

    @media screen and (max-width: 414px) {
        .section-media img{
            padding: 0;
            height: 30%;
        }
        
    }

    @media screen and (max-width: 414px) {
        .video-div {
            padding: 0 3em;
            position: absolute;
            width: 60%;
        }  
    }

     .video-div {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: -1;

    
     }

     .video-1 {
        max-width: 71%;
        max-height: 55%;
        top: 48%;
        left: 50%;
     }
     
     @media screen and (max-width: 414px) {
        .video-1 {
            padding: 0 3em;
            width: 60%;
            position: absolute;
        }  
    }

   
     @media screen and (max-width: 800px) {
        .container2 p {
       padding: 0;
       margin-top: 0;
       font-size: 1.125em;
    }
      }

      @media screen and (max-width: 800px) {
        .container2 h1 {
       padding: 0;
       margin-top: 0;
       font-size: 2em;
    }
      }
  
    
    @media screen and (max-width: 800px) {
        section {
       padding-bottom: 3em;
       margin: 0;
       position: relative;
}
      }
      
    
    @media screen and (max-width: 800px) {
        .container2 {
       padding-bottom: 3em;
       margin: 0;
       position: relative;
       height: 80vh;
}
      }

      .container3 {
        margin: 0;
        height: 80vh;
        padding: 0;

     }
    
     @media screen and (max-width: 414px) {
        .container3 {
            padding: 0;
            position: relative;
            top: 30%;
        }
        
    }
    
     .container3 h1 {
        margin: 0;
        padding: 0 0 18px 0; 
     }

     .container3 p {
        margin: 0;
        padding: 0 20px 18px 10px;
     }


    @media screen and (max-width: 800px) {
        .container3 {
       margin: 0;
       height: 80vh;
       padding-bottom: 12%;
       
}
      }

      .section-media2 {
        position: relative;
        padding: 0 10px 0 10px;
        }
    

      @media screen and (max-width: 800px) {
        .container3 h1 {
       padding: 0 0 0 1.5rem;
       margin: 0;
       font-size: 2em;
}
      }

      @media screen and (max-width: 800px) {
        .container3 p {
        font-size: 1px;
position: relative;
z-index: 10;
}
      }

      @media screen and (max-width: 800px) {
         .section-media2 {
       padding: 0;
       position: absolute;
       width: 100%;
       left: 5%;
       margin-top: 55em;
}
      }

      

      @media screen and (max-width: 414px) {
        .section-media2 {
            padding: 0;
            margin: 0;
            top: 50%;
            left: 38%;

}
     }

     @media screen and (max-width: 414px) {
        .section-text1 h1{
          bottom: 10em;
          position: relative;
          z-index: 10;
          font-size: 1.8em;
          
       }
     }

     @media screen and (max-width: 414px) {
        .section-text1 p{
          bottom: 2em;
          position: absolute;
          font-size: 1.125em;
          width: 100%;
          
       }
     }


      @media screen and (max-width: 800px) {
        .section-text1 p {
       padding: 0 0 0 2em;
       margin-top: 1rem;
       font-size: 2px;

}
      } 

.reverse {
    flex-direction: row-reverse;
}

.rg {
    padding-left: 10em;
    margin: 0;
    height: 380px;
    position: relative;
}

@media screen and (max-width: 800px) {
    .rg {
       margin: 0;
       height: 400px;
       position: absolute;
       right: 6em;
       bottom: 30%;
   }
 }
 
 @media screen and (max-width: 414px) {
    .rg {
      height: 400px;
   }
 }
 
 

.section-text1{
    margin: 0;
    padding: 0 8% 0 0;
    position: relative;
}
 

.section-text1 p{
    font-size: 24px;
        
}
     .dd {
    color: rgb(255,255,255);
    overflow: hidden;
    position: absolute;
    left: 40%;
    bottom: 8%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    width: 42%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.75rem;
    height: 6rem;
}

@media screen and (max-width: 800px) {
    .dd {
       left: 17%;
       bottom: 29%;
       width: 58%;
       position: absolute;
   }
 }

 @media screen and (max-width: 414px) {
    .dd {
       left: -21%;
       top: 50%;
       width: 68%;
       padding: 0 ;
   }
 }

 @media screen and (max-width: 414px) {
    .container3 {
       height: 70vh;
       top: 12em;
   }
 }


     .dd img {
        height: 70px;
     }

     .txt {
        margin-left: 15px;
     }

     .txt .txt1 {
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        font-weight: 600;
        position: absolute;
        bottom: 2.8em;
    }

    .txt .txt2 {
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        text-align: left;
        font-size: 0.75rem;
        font-weight: 400;
        color: #0071eb;
        top: 4em;
        position: absolute;
    }
    
    .animation {
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        color: red;
        text-align: center;
        width: 3rem;
        height: 3rem;
        outline: 2px solid rgba(0, 0, 0, 1);
        outline-offset: -2px;
        display: flex;
        background: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif') center center no-repeat;
        background-size: 100%;
        content: '';
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 9em;
        position: relative;
    }
 
    @media screen and (max-width: 800px) {
        .animation {
           left: 29%;
       }
     }


 

.container4 {
    margin: 0;
    height: 40vh;
    padding: 0 20% 10% 20%;
    position: relative;
 }

 .container4 h1 {
    margin: 0;
    padding: 0 0 24px 0; 
    width: 30%;
 }

 .container4 p {
    margin: 0;
    padding: 0 0 18px 0; 
    font-size: 1.5rem;
    width: 60%;

 }



  @media screen and (max-width: 800px) {
    .ff{
        margin: 0;
        padding: 0 3em;
        height: 0;
        position: relative;

   }
     }

     @media screen and (max-width: 414px) {
        .container4 h1{
            margin: 0;
            padding-bottom: 0;
            position: absolute;
    
       }
         }

         @media screen and (max-width: 414px) {
            .ff{
                margin: 0;
                padding-bottom: 0;
                padding: 0;
        
           }
             }
       
   
     .section-text2 {
        position: absolute;
     }

  @media screen and (max-width: 800px) {
    .section-text2{
      width: 100%;
    padding: 3em 2em;
    height: 50vh;
    
   }
     }
   
     @media screen and (max-width: 800px) {
        .section-text2 h1{
         font-size: 2em;
       }
         }
       

         @media screen and (max-width: 800px) {
            .section-text2 p{
             font-size: 1.125em;
           }
             }
           
 

    @media screen and (max-width: 800px) {
      .container5  .reverse {
            flex-direction: column;
        }  
    }
    
    .section-media5 {
        position: relative;
        max-width: 100%;
        height: 100vh;
        padding-top: 10%;
    }
    
   .sec {
    padding: 0 5%;
   }

   .rg2 {
    padding-left: 10em;
    margin: 0;
    height: 380px;
    position: relative;
}
   
@media screen and (max-width: 800px) {
    .rg2 {
        position: absolute;
     padding: 1em 2em;
     right: -12em;

}
  }

  @media screen and (max-width: 800px) {
    section {
   width: 100%;
   position: relative;

}
  }

   @media screen and (max-width: 800px) {
    .container5 {
   width: 100%;
   margin-top: 10%;
   height: 60vh;
   position: absolute;

}
  }

  @media screen and (max-width: 414px) {
    .container5 {
    height: 40%;
    padding-top: 12%;
   
   
   }
     } 

  @media screen and (max-width: 800px) {
 .section-media5 {
  padding: 0 3em 3em 5em;
 position: relative;


}
  }
    
  @media screen and (max-width: 414px) {
    .section-media5 {
     padding: 25% 3rem 8em 0;
      margin-top: 15%;
   
   }
     }

     @media screen and (max-width: 414px) {
        .section-media5 img{
         align-items: center;
         margin-bottom: 0;
         padding: 0 4em 0 4em;
       }
         }
    

  .section-text3 p {
    font-size: 24px;
    padding-top: 3%;

  }

      @media screen and (max-width: 800px) {
        .section-text3 h1 {
       font-size: 2em;
       top: 12px;
       padding-left: 1px;
    }
      }
    
      
      @media screen and (max-width: 800px) {
        .section-text3 p {
       margin-top: 14px;
       font-size: 1.125em;
       width: 100%;
       padding-right: 6em;
       text-align: center;

    }
      }
    
      @media screen and (max-width: 800px) {
        .sec {
            height: 80vh;
            margin-top: 40%;
            margin-bottom: 10%;
        }
    }

      /* accordion  */
.section-faq {
    height: 140vh;
        border-bottom: 8px solid #222;
        width: 100%;
    
}

@media screen and (max-width: 800px) {
    .section-faq {
height: 130vh;
padding: 0 5%;
 }
  }

  @media screen and (max-width: 414px) {
    .section-faq {
height: 100vh;
width: 90%;
padding: 0 5% 5% 5%;
right:1.2em ;
position: relative;
 }
  }



@media screen and (max-width: 800px) {
    .section-faq h1 {
font-size: 2rem; 
text-align: center;  
 }
  }

.accordion {
    width: 100%;
    font-size: 24px;
    text-align: left;
    padding: 0 5%;
}
@media screen and (max-width: 800px) {
    .accordion {
        font-size: 18px;
        height: 100vh;
        padding: 0 2%;

    }
}
.question {
    position: relative;
    background-color: #2d2d2d;
    margin-bottom: 10px;
}
.question label:hover {
    background-color: #444;
}
.question svg {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 20px;
    transform: rotate(45deg);
    transition: all 0.2s ease;
}
@media screen and (max-width: 600px) {
    .question svg {
        width: 20px;
        height: 20px;
        right: 20px;
        top: 25px;
    }
}
.question .title {
    display: block;
    padding: 24px 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.question .answer {
    padding: 0px 30px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}
.question .answer p {
    margin-bottom: 20px;
}
.question input[type="checkbox"] {
    display: none;
}
.question input[type="checkbox"]:checked ~ .answer {
    max-height: 600px;
    padding: 24px 30px;
}
.question input[type="checkbox"]:checked ~ .title svg {
    transform: rotate(180deg);
}


  .form-field1 .form-input {
    width: 70%;
    height: 100%;
    font-size: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px 5rem;
    margin-left: 3rem;
     
}
 .form-field1 .form-label {
    position: relative;
    text-align: right;
    font-size: 15px;
    left: -29em;
    padding: 20px 24px;
    width: 100%;
    color: #fff;   
    transition: all 0.2s ease-in 
}

@media screen and (max-width: 800px) {
    .form-field1 .form-label{
        left: 0;
        position: relative;
        padding: 20px 24px;
        top: -2.7em;
}
}

@media screen and (max-width: 414px) {
    .form-field1 .form-label{
top: 1.125em;
right: 1em; 
padding: 5% 0;  
}
}


@media screen and (max-width: 800px) {
    .form-field1 .form-input{
width: 93%;
display: flex;
    }
}

@media screen and (max-width: 414px) {
    .form-field1 .form-input{
width: 95%;
right: 6%;  
position: absolute;
}
}

@media screen and (max-width: 800px) {
    form{
right: 6%;  
position: absolute;
}
}

@media screen and (max-width: 414px) {
    .get-btn1{
width: 30%;
top: 9em;
left: 8em; 
position: absolute;  
}
}


.form-field1 {
    text-align: center;
    padding-top: 3em;
    position: relative;
}

@media screen and (max-width: 414px) {
    .form-field1 {
        bottom: 7em;
        padding: 0 1em;
    }
}

.form-field1 label {
    width: 40px;
}

@media screen and (max-width: 800px) {
    .form-field1 {
        margin-top: -7em;
        position: absolute;
    }
}

.get-btn1 {
    background-color: #e50914;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #e50914;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: -7em;

}

@media screen and (max-width: 800px) {
    .get-btn1 {
        font-size: 16px;
        margin-left: 1.8em;
        display: flex;        
    }
}
  
 /* footer  */
.footer {
    padding: 40px 0px;
    margin-bottom:5em ;
}

@media screen and (max-width: 414px ){
    .footer .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 414px ){
    .footer {
        width: 67%;
    }
}


.footer a {
    font-size: 16px;
    color: rgba(255,255,255,0.7);
}
.footer .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}
@media screen and (max-width: 600px ){
    .footer .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.footer .grid-container li a {
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    margin-bottom: 15px;
}      
    
select {
    background-color: #222; 
    padding: 5px 20px 5px 30px;
    color: #fff;
    font-size: 1.1em;
    margin-left: -2em;
    text-align: left;
}

svg {
    z-index: 10;
    position: relative;
}

option {
    padding: 0;
    margin: 0;
}

.NG {
    padding-top: 2em;
text-align: left;    
margin: 0;
color: rgba(255,255,255,0.7);
position: relative;
right: 7.5em;
}

@media screen and (max-width: 800px ){
    .NG {
        right: 4em;
    }
}
